.env
composer.lock
node_modules
package-lock.json
pnpm-lock.yaml

public/css/tailwind.css
/vendor
/logs

src/core/tests
.phpunit.result.cache
phpunit.xml

.agent
.vscode

# Ignore everything inside src/uploads
src/uploads/**/*
# Allow the .gitkeep files so the folders stay in the repo
!**/ .gitkeep
