main .overview {
    padding: 20px;
}

main .overview section.my-pets,
main .overview section.popular,
main .overview section.upcoming {
    background: #fefefe;
    padding: 20px;
    border-radius: 24px;
}

main .overview section.my-pets,
main .overview section.popular,
main .overview section.upcoming {
    width: 100%;
    height: 100%;
}

main .overview section.my-pets .header,
main .overview section.popular .header,
main .overview section.upcoming .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

main .overview section.my-pets .header h4,
main .overview section.popular .header h4,
main .overview section.upcoming .header h4 {
    font-weight: 600;
}

main .overview section.popular .header,
main .overview section.upcoming .header {
    margin-bottom: 40px;
}

main .overview section.popular .header a,
main .overview section.upcoming .header a {
    font-size: 12px;
    color: #000;
    font-weight: 600;
    padding: 4px 8px;
    background: #f3f3f3;
    border-radius: 20px;
}
