@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* Icons */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Sharp");
@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/*--- Semantic UI Overrides ---*/
.ui.form .field input,
.ui.form .field textarea,
.ui.form .field .ui.dropdown {
    background: var(--color-background) !important;
    color: var(--color-dark) !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0.4rem;
}

.ui.basic.red.pointing.prompt.label {
    font-size: 0.7rem !important;
}

.ui.search input {
    background: var(--color-background) !important;
    color: var(--color-dark) !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.ui.dropdown {
    background: var(--color-background) !important;
    color: var(--color-dark) !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.ui.dropdown .text:not(.ui.modal *):not(.ui.table *) {
    color: var(--color-dark);
}

.ui.dropdown .header {
    color: var(--color-dark) !important;
}

.ui.dropdown.compact.labeled.icon {
    box-shadow: none !important;
}

.ui.dropdown.compact.clearable {
    padding-right: 1.6rem;
}

.ui.dropdown.compact.visible .text,
.ui.dropdown.compact.visible i.icon:not(.menu i) {
    color: var(--color-dark-variant) !important;
}

/* Semantic UI Overrides (Modal) */
.ui.modal {
    background: var(--color-white);
    color: var(--color-dark);
}

.ui.modal > .header {
    background: var(--color-white);
    color: var(--color-dark);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08) !important;
    padding: 1rem 1.5rem;
    margin: 0;
    font-size: 1rem !important;
    font-weight: 600 !important;
}

.ui.modal .content {
    background: var(--color-white);
    color: var(--color-dark-variant);
    margin: 0;
    padding: 0;
}

.ui.modal .content .ui.form {
    padding: 1rem 1.5rem;
}

.ui.modal .ui.form input,
.ui.modal .ui.form textarea,
.ui.modal .ui.dropdown {
    font-size: 0.72rem !important;
    border-radius: 0.4rem;
}

.ui.modal .ui.form .ui.dropdown.selection.search {
    padding: 0.8rem !important;
}

.ui.modal .ui.form .ui.dropdown.selection.search .text {
    z-index: 2;
}

.ui.modal .ui.form .ui.dropdown.fluid {
    padding: 0.6rem 0.7rem;
}

.ui.modal .ui.form .ui.dropdown:not(.selection):not(.multiple) > .remove.icon {
    margin-top: -0.3rem;
    margin-right: 0.6rem;
}

.ui.modal .ui.form .ui.dropdown.search .dropdown.icon {
    margin-top: -0.35rem;
}

/* .ui.modal .ui.form .ui.dropdown:not(.search) .dropdown.icon {
    margin-top: 0.1rem;
} */

.ui.modal .ui.form .ui.dropdown > .text > .image:not(.icon),
.ui.dropdown > .text > img {
    margin-top: -0.3em;
}

.ui.modal .ui.form .ui.dropdown.selection > .menu > .item,
.ui.modal .ui.form .ui.dropdown .scrolling.menu .item {
    margin-left: -0.29rem;
    font-size: 0.8rem;
}

.ui.modal .ui.form .field > label {
    display: block;
    color: var(--color-dark);
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 0.3rem;
}

.ui.modal .ui.form .actions {
    background: var(--color-white);
    border-top: 1px solid rgba(0, 0, 0, 0.08) !important;
    margin-top: 1.2rem;
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
}

.ui.modal .ui.button {
    border-radius: 0.4rem;
    padding: 0.6rem 1rem;
    text-transform: none;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 600;
    font-size: 12px;
}

.ui.modal .ui.button:hover {
    transform: translateY(-2px);
    font-size: 12px;
}

.ui.modal .ui.positive.button {
    background: #6c9bcf;
}

.ui.modal .ui.positive.button:hover {
    background: #ff1b6d;
}

.ui.modal .ui.cancel.button {
    background: var(--color-background);
    color: var(--color-dark);
    margin-right: -0.2rem;
}

/* Semantic UI Overrides (Flyout) */
body.pushable > .pusher {
    /* Adjust the body background again due to pusher */
    background: var(--color-background);
}

/* Filepond Overrides */
.filepond--label-action {
    text-decoration: underline !important;
    text-decoration-color: #a7a4a4 !important;
}

.filepond--drop-label label {
    font-size: 0.875em !important;
    color: var(--color-dark-variant);
}

.filepond--credits {
    display: none !important;
}
